<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!--  add reference to external file | sport.properties -->	
	<context:property-placeholder location="classpath:sport.properties"/>
	
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
    <bean
    id="myFortuneService"    
    class= "com.luv2code.springdemo.HappyFortuneService">       
    <!-- shortcut copy qualified name, right click on HappyFortuneService --> 
    
    </bean>
    
    <bean
     id="myCoach" 
     class= "com.luv2code.springdemo.TrackCoach">    
     
     <!--  set up constructor injection -->
     <constructor-arg ref="myFortuneService"/>
     
    </bean>
    
    <bean
    id="myCricketCoach" 
    class= "com.luv2code.springdemo.CricketCoach">
     
     <!-- setup setter injection  -->
     <!--  
     in <property name=[name] ref=myFortuneService"/> 
     will look for in the CricketCoach a setter for set[name]
     [ref] - refers to what we will be injecting
     
     same for literal values
     -->
    <property name="fortuneService" ref="myFortuneService"/> 
    
    <!-- inject literal values *NO LONGER USING - NOW ADDIG VALUES FROM FILE
    <property name="emailAddress" value="bestcoach@gmail.com"/>
    <property name="team" value="Blue Jays"/>
    -->
       
    <!-- overwrite the literal values with the ones from file -->
    <property name="emailAddress" value="${foo.email}"/>
    <property name="team" value="${foo.team}"/>
     
    </bean>
    
   
   
</beans>





